FelicitySecurity.Core/Service References/FelicitySecurityDataServiceReference/FelicitySecurityDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAdministrator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Administrators_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Administrators_dto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdminID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminPinCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAdministratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindAllAdministrators">
        <s:complexType />
      </s:element>
      <s:element name="FindAllAdministratorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindAllAdministratorsResult" type="tns:ArrayOfAdministrators_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdministrators_dto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Administrators_dto" nillable="true" type="tns:Administrators_dto" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Members_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Members_dto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MemID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemFirstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemLastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemPhonenumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemDOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MemPostcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemStatus" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MemRegDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsStaff" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MemFacialImage" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMemberResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindAllMembers">
        <s:complexType />
      </s:element>
      <s:element name="FindAllMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindAllMembersResult" type="tns:ArrayOfMembers_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMembers_dto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Members_dto" nillable="true" type="tns:Members_dto" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Staff_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Staff_dto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsStaff" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BadgeNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffMembers" type="tns:ArrayOfMembers_dto" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddStaffResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindAllStaff">
        <s:complexType />
      </s:element>
      <s:element name="FindAllStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindAllStaffResult" type="tns:ArrayOfStaff_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStaff_dto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Staff_dto" nillable="true" type="tns:Staff_dto" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemoveAdministrator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="administratorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAdministratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateAdministrator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Administrators_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAdministratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Members_dto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMemberResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAdministratorSoapIn">
    <wsdl:part name="parameters" element="tns:AddAdministrator" />
  </wsdl:message>
  <wsdl:message name="AddAdministratorSoapOut">
    <wsdl:part name="parameters" element="tns:AddAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="FindAllAdministratorsSoapIn">
    <wsdl:part name="parameters" element="tns:FindAllAdministrators" />
  </wsdl:message>
  <wsdl:message name="FindAllAdministratorsSoapOut">
    <wsdl:part name="parameters" element="tns:FindAllAdministratorsResponse" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="FindAllMembersSoapIn">
    <wsdl:part name="parameters" element="tns:FindAllMembers" />
  </wsdl:message>
  <wsdl:message name="FindAllMembersSoapOut">
    <wsdl:part name="parameters" element="tns:FindAllMembersResponse" />
  </wsdl:message>
  <wsdl:message name="AddStaffSoapIn">
    <wsdl:part name="parameters" element="tns:AddStaff" />
  </wsdl:message>
  <wsdl:message name="AddStaffSoapOut">
    <wsdl:part name="parameters" element="tns:AddStaffResponse" />
  </wsdl:message>
  <wsdl:message name="FindAllStaffSoapIn">
    <wsdl:part name="parameters" element="tns:FindAllStaff" />
  </wsdl:message>
  <wsdl:message name="FindAllStaffSoapOut">
    <wsdl:part name="parameters" element="tns:FindAllStaffResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAdministratorSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAdministrator" />
  </wsdl:message>
  <wsdl:message name="RemoveAdministratorSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAdministratorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAdministrator" />
  </wsdl:message>
  <wsdl:message name="UpdateAdministratorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="FelicitySecurityDataServiceSoap">
    <wsdl:operation name="AddAdministrator">
      <wsdl:input message="tns:AddAdministratorSoapIn" />
      <wsdl:output message="tns:AddAdministratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindAllAdministrators">
      <wsdl:input message="tns:FindAllAdministratorsSoapIn" />
      <wsdl:output message="tns:FindAllAdministratorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <wsdl:input message="tns:AddMemberSoapIn" />
      <wsdl:output message="tns:AddMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindAllMembers">
      <wsdl:input message="tns:FindAllMembersSoapIn" />
      <wsdl:output message="tns:FindAllMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <wsdl:input message="tns:AddStaffSoapIn" />
      <wsdl:output message="tns:AddStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindAllStaff">
      <wsdl:input message="tns:FindAllStaffSoapIn" />
      <wsdl:output message="tns:FindAllStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <wsdl:input message="tns:RemoveAdministratorSoapIn" />
      <wsdl:output message="tns:RemoveAdministratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <wsdl:input message="tns:UpdateAdministratorSoapIn" />
      <wsdl:output message="tns:UpdateAdministratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input message="tns:UpdateMemberSoapIn" />
      <wsdl:output message="tns:UpdateMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FelicitySecurityDataServiceSoap" type="tns:FelicitySecurityDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdministrator">
      <soap:operation soapAction="http://tempuri.org/AddAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllAdministrators">
      <soap:operation soapAction="http://tempuri.org/FindAllAdministrators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllMembers">
      <soap:operation soapAction="http://tempuri.org/FindAllMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <soap:operation soapAction="http://tempuri.org/AddStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllStaff">
      <soap:operation soapAction="http://tempuri.org/FindAllStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <soap:operation soapAction="http://tempuri.org/RemoveAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <soap:operation soapAction="http://tempuri.org/UpdateAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://tempuri.org/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FelicitySecurityDataServiceSoap12" type="tns:FelicitySecurityDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdministrator">
      <soap12:operation soapAction="http://tempuri.org/AddAdministrator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllAdministrators">
      <soap12:operation soapAction="http://tempuri.org/FindAllAdministrators" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap12:operation soapAction="http://tempuri.org/AddMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllMembers">
      <soap12:operation soapAction="http://tempuri.org/FindAllMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <soap12:operation soapAction="http://tempuri.org/AddStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllStaff">
      <soap12:operation soapAction="http://tempuri.org/FindAllStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <soap12:operation soapAction="http://tempuri.org/RemoveAdministrator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <soap12:operation soapAction="http://tempuri.org/UpdateAdministrator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap12:operation soapAction="http://tempuri.org/UpdateMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FelicitySecurityDataService">
    <wsdl:port name="FelicitySecurityDataServiceSoap" binding="tns:FelicitySecurityDataServiceSoap">
      <soap:address location="http://localhost:51333/FelicitySecurityDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="FelicitySecurityDataServiceSoap12" binding="tns:FelicitySecurityDataServiceSoap12">
      <soap12:address location="http://localhost:51333/FelicitySecurityDataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>